apiVersion: apps/v1
kind: Deployment
metadata:
  name: nestjs-starter
spec:
  replicas: 3
  template:
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - nestjs-starter
                topologyKey: kubernetes.io/hostname
      containers:
        - name: nestjs-starter
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: '1'
              memory: 1Gi
