services:
  postgres:
    image: postgres:16-alpine
    container_name: nestjs-starter-postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestjs_starter
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: nestjs-starter-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  mailpit:
    image: axllent/mailpit
    container_name: nestjs-starter-mailpit
    restart: unless-stopped
    ports:
      - '1025:1025'
      - '8025:8025'

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      target: deps
    container_name: nestjs-starter-app
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - ../src:/app/src
      - ../dist:/app/dist
    env_file:
      - ../.env.development
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: ['node', 'dist/main.js']

volumes:
  postgres_data:
